/**********************************************************************\

Styles for Onda manual

\**********************************************************************/

@import url("blankaspect-manual.css");

table.commandLine td
{
  border: 1px solid #A0C0A0;
  padding: 0.4em 0.6em;
}

div.usageSectionTitle
{
  font-weight: bold;
  font-style: italic;
  color: #006060;
}

ul.commandSyntax
{
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1.0em;
}
ul.commandSyntax li
{
  margin-left: -1.0em;
}
ul.commandSyntax li.option, li.command
{
  margin-top: 0.2em;
}
ul.commandSyntax li.section
{
  margin-top: 1.0em;
}

/*--------------------------------------------------------------------*/
